<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="layout/layout :: head"></head>
<body>
	<header th:replace="layout/layout :: header"></header>

	<div class="container">

		<h1>Lista de citas</h1>

		<div class="card text-center">
			<div class="card-header">Lista de citas</div>
			<div class="card-body">

				<div th:if="${dangerDel}" class="alert alert-danger" role="alert">
					<span th:text="${dangerDel}"></span>
				</div>

				<table class="table table-striped">
					<thead>
						<tr>
							<th scope="col">Codigo</th>
							<th scope="col">Fecha</th>
							<th scope="col">Servicio</th>
							<th scope="col">Peluquero</th>
							<th scope="col">Hora</th>
							<th scope="col"></th>
						</tr>
					</thead>
					<tbody th:each="cita: ${citas}">
						<tr>
							<th scope="row" th:text="${cita.cod_cita}"></th>
							<td th:text="${cita.fecha_cita}"></td>
							<td th:text="${cita.servicio}"></td>
							<td
								th:text="${cita.peluquero.nom_pel +' '+ cita.peluquero.ape_pel}"></td>
							<td th:text="${cita.horario.nom_hora}"></td>
							<td><a
								th:href="@{'/cita/' + ${cita.cod_cita} + '/pagarcita/'}"
								class="btn btn-info"> <i class="fas fa-credit-card"></i>
									Pagar cita
							</a></td>

						</tr>
					</tbody>
				</table>

			</div>
			<div class="card-footer text-muted">
				<a th:href="@{/}" class="btn btn-primary"><i
					class="fas fa-hand-point-left"></i> Regresar</a>
			</div>
		</div>

	</div>

	<footer th:replace="layout/layout :: footer"></footer>
</body>
</html>








