<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="layout/layout :: head"></head>
<style>
<!--
body {
	background: url('https://source.unsplash.com/twukN12EN7c/1920x1080')
		no-repeat center center fixed;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	background-size: cover;
	-o-background-size: cover;
}

-->
.modal {
	display: none; /* Hidden by default */
	position: fixed; /* Stay in place */
	position: fixed; /* Stay in place */
	z-index: 1; /* Sit on top */
	padding-top: 100px; /* Location of the box */
	left: 0;
	top: 0;
	width: 100%; /* Full width */
	height: 100%; /* Full height */
	overflow: auto; /* Enable scroll if needed */
	background-color: rgb(0, 0, 0); /* Fallback color */
	background-color: rgba(0, 0, 0, 0.4); /* Black w/ opacity */
}

/* Modal Content */
.modal-content {
	background-color: #fefefe;
	margin: auto;
	padding: 20px;
	border: 1px solid #888;
	width: 80%;
}

/* The Close Button */
.close {
	color: #aaaaaa;
	float: right;
	font-size: 28px;
	font-weight: bold;
}

.close:hover, .close:focus {
	color: #000;
	text-decoration: none;
	cursor: pointer;
}
</style>


<body>
	<header th:replace="layout/layout :: header"></header>
	<hr>
	<hr>
	<hr>
	<div class="container">
		<div class="card">
			<div class="card-header">Datos Personales</div>
			<div class="card-body">
				<form th:action="@{/cita/savetarjeta}" th:object="${tarjeta}"
					method="post">
					<div class="form-group">
						<label for="inputEmail4">Nombres*</label> <input type="text"
							class="form-control" placeholder="Nombres" th:field="*{nom_tar}">
					</div>
					<div class="form-group">
						<label for="inputEmail4"> Apellidos*</label> <input type="text"
							class="form-control" placeholder="Apellidos"
							th:field="*{ape_tar}">
					</div>
					<div class="form-group">
						<label for="empresa">Empresa:</label> <select
							th:field="*{empresaTarjeta}" class="form-control">
							<option th:each="empresaTarjeta : ${empresaTarjetas}"
								th:value="${empresaTarjeta.cod_emptar}"
								th:text="${empresaTarjeta.nom_emptar}"></option>
						</select>
					</div>
					<div class="row">
						<div class="col">
							<label for="inputEmail4">Numero de Tarjeta*</label> <input
								type="text" class="form-control"
								placeholder="AAAA-AAAA-AAAA-AAAA" th:field="*{num_tar}">
						</div> 
						<div class="col">
							<label for="inputEmail4">Codigo de Seguridad*</label> <input
								type="text" class="form-control" placeholder="CVV" th:field="*{cvv_tar}">
						</div>
					</div>

					<div class="form-row">

						<div class="col">
							<label for="inputEmail4">Fecha de vencimiento*</label> <input
								type="text" class="form-control"
								placeholder="AA/AA" th:field="*{fechaVencimiento_tar}">
						</div>
					</div>
					<hr />
					<button type="submit" class="btn btn-primary">
						<i class="fas fa-save"></i> Pagar
					</button>
					<a th:href="@{/cita}" class="btn btn-danger"> <i
						class="fas fa-undo"></i> Cancelar
					</a>
				</form>


				<div id="myModal" class="modal" tabindex="-1" role="dialog">
					<div class="modal-dialog" role="document">
						<div class="modal-content">
							<div class="modal-header">
								<button type="button" class="close" data-dismiss="modal"
									aria-label="Close">
									<span aria-hidden="true">&times;</span>
								</button>
							</div>
							<div class="modal-body">
								<h3>PAGO CONFIRMADO</h3>
							</div>
							<div class="modal-footer">
								<a th:href="@{ /}" class="btn btn-success" href="#">Aceptar</a>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>

	<footer th:replace="layout/layout :: footer"></footer>
	<script>
		//Get the modal
		var modal = document.getElementById("myModal");

		//Get the button that opens the modal
		var btn = document.getElementById("myBtn");

		//Get the <span> element that closes the modal
		var span = document.getElementsByClassName("close")[0];

		//When the user clicks the button, open the modal 
		btn.onclick = function() {
			modal.style.display = "block";
		}

		//When the user clicks on <span> (x), close the modal
		span.onclick = function() {
			modal.style.display = "none";
		}

		//When the user clicks anywhere outside of the modal, close it
		window.onclick = function(event) {
			if (event.target == modal) {
				modal.style.display = "none";
			}
		}
	</script>
</body>
</html>