<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="layout/layout :: head"></head>
<body>
	<header th:replace="layout/layout :: header"></header>

	<div class="container">

		<h1>Lista de servicios</h1>

		<div class="card text-center">
			<div class="card-header">Lista de servicios</div>
			<div class="card-body">

				<div th:if="${dangerDel}" class="alert alert-danger" role="alert">
					<span th:text="${dangerDel}"></span>
				</div>

				<table class="table table-striped">
					<thead>
						<tr>
							<th scope="col">Codigo</th>
							<th scope="col">Nombre</th>
							<th scope="col">Precio</th>
							<th scope="col"></th>
						</tr>
					</thead>
					<tbody th:each="servicio: ${servicios}">
						<tr>
							<th scope="row" th:text="${servicio.cod_ser}"></th>
							<td th:text="${servicio.nom_ser}"></td>
							<td th:text="${servicio.pre_ser}"></td>
							<td><a
								th:href="@{'/servicio/' + ${servicio.cod_ser} + '/nuevacita/'}"
								class="btn btn-info"> <i class="fas fa-file-alt"></i>
									Registrar cita
							</a></td>
						</tr>
					</tbody>
				</table>

			</div>
			<div class="card-footer text-muted">
				<a th:href="@{/servicio/nuevo}" class="btn btn-primary"><i
					class="fas fa-cut"></i> Nuevo servicio</a>
			</div>
		</div>

	</div>

	<footer th:replace="layout/layout :: footer"></footer>
</body>
</html>








