<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="layout/layout :: head"></head>
<body>
	<header th:replace="layout/layout :: header"></header>

	<div class="container">

		<h1>Nuevo Servicio</h1>

		<div class="card">
			<div class="card-body">

				<form th:action="@{/servicio/save}" th:object="${servicio}"
					method="post">
					<div class="form-group">
						<label for="nombre">Nombre:</label> <input type="text"
							class="form-control" placeholder="Nombre"
							th:field="*{nom_ser}">
					</div>
					<div class="form-group">
						<label for="precio">Precio:</label> <input type="number"
							class="form-control" placeholder="Precio"
							th:field="*{pre_ser}">
					</div>

					<button type="submit" class="btn btn-primary">
						<i class="fas fa-save"></i> Grabar
					</button>
					<a th:href="@{/medico}" class="btn btn-danger"> <i
						class="fas fa-undo"></i> Cancelar
					</a>
				</form>

			</div>
		</div>


	</div>

	<footer th:replace="layout/layout :: footer"></footer>
</body>
</html>