<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="layout/layout :: head"></head>
<body>
	<header th:replace="layout/layout :: header"></header>

	<div class="container">

		<h1>Nueva Cita</h1>

		<div class="card">
			<div class="card-body">

				<form th:action="@{/servicio/savecita}" th:object="${cita}"
					method="post">
					<div class="form-group">
						<label for="fecha">Fecha:</label> <input type="text"
							class="form-control" placeholder="Fecha" th:field="*{fecha_cita}">
					</div>
					<div class="form-group">
						<label for="peluquero">Peluquero:</label> <select
							th:field="*{peluquero}" class="form-control">
							<option th:each="peluquero : ${peluqueros}"
								th:value="${peluquero.cod_pel}" th:text="${peluquero.nom_pel +' '+ peluquero.ape_pel}"></option>
						</select>
					</div>
					<div class="form-group">
						<label for="horario">Horario:</label> <select
							th:field="*{horario}" class="form-control">
							<option th:each="horario : ${horarios}"
								th:value="${horario.cod_hora}" th:text="${horario.nom_hora}"></option>
						</select>
					</div>

					<button type="submit" class="btn btn-primary">
						<i class="fas fa-save"></i> Grabar
					</button>
					<a th:href="@{/servicio}" class="btn btn-danger"> <i
						class="fas fa-undo"></i> Cancelar
					</a>
				</form>

			</div>
		</div>


	</div>

	<footer th:replace="layout/layout :: footer"></footer>
</body>
</html>